html, body {
	height: 100%;
}

 body {
	background-color: #000000;
	margin: 0;
	font-family: Helvetica, sans-serif;;
	overflow: hidden; 
} 

a {
	color: #ffffff;
}
  

.main {
    width: 100vw;
    height: 100vh;
    background: url(../image/starbg.jpg) no-repeat;
    background-size: 100% 100%;
    padding-top: 30px;
}
/* 标题 */
.topbar {
    width: 100%;
    height: 45px;
    line-height: 45px;
    position: relative;
}
.logo {
    width: 138px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -185px;

}
.title {
    font-size:30px;
    color:#fff;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -30px;
}
/* 内容区 */
.content {
    width: 100%;
    height: 77vh;
    margin-top: 5vh;
}
.left,
.right{
    width: 50%;
    height: 100%;
}
/* 左边 */
.left {
    padding-left: 10%;
}
.go-btn { 
	cursor: pointer;
	display: none;
}
 
.name {
    font-size:68px;
    font-weight:bold;
    color:#fff;
}
.ename {
    font-size:48px;
    font-weight:bold;
    color:rgba(215, 215, 215, 0.1);
}
.ren {
    width: 100%;
    margin-top: 20px;
}
/* 右边 */
.right{
    padding-right: 10%;
    overflow: hidden;
    position: relative;
}

.num-box {
    height: 25%;
    width: 100%;
    margin-top: 9%;
}
.num-list {
    width: 100%;
    height: 100%;
}
.num-list .item {
    width: 33.3%;
    height: 100%;
    float: left;
    text-align: center;
}
.source {
    width: 100%;
    font-size:24px;
    font-weight:bold;
    color:#fff;
}

@keyframes rotation{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.loading-circle{
    position: absolute;
    left: 42px;
    top: 0;
    box-sizing: border-box;
    width: 172px;
    height: 172px; 
    background-image: url('../image/loadingbg.png'); 

     
}
.loading-circle-1{
    animation: rotation 0.8s linear infinite;
}
.loading-circle-2{
    animation: rotation 1.6s linear infinite;
}
.loading-circle-3{
    animation: rotation 1.4s linear infinite;
}
.container-circle{
    position: absolute;
    left: 42px;
    top: 0;
    box-sizing: border-box;
    width: 172px;
    height: 172px;
    border-radius: 86px;
    border: 2px solid;
	/* opacity: 0.3; */
	border-color: rgba(215,215,215,0.3);
 
}

.container-circle .number {
	position: relative;
   /*  left: 42px; */
    top: 56px;
	font-size: 36px;
	font-weight: bold;
	display: block;
	color: #fff;
	opacity: 1;
}



#tagsList {

	position: relative;

	margin: 204px auto 0;

}
.label-box {
    height: 35%;
    width: 100%;  
    padding-left: 3%;
}
#tagsList a {

	position: absolute;

	top: 0px;

	left: 0px;

	font-family: Microsoft YaHei;

	color: #fff;

	font-weight: bold;

	text-decoration: none;

	padding: 3px 6px;

}

#tagsList a:hover {
	box-shadow: 0px 0px 12px rgba(240, 252, 252, 0.5);
	letter-spacing: 2px;

}

 
.event, .books , .result{
	display: none;
}
#menu {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: right;
	font-family: verdana,Tahoma,Arial,Hei,"Microsoft Yahei",SimHei;
}

.element {
	width: 120px;
	height: 160px;
	box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
	border: 1px solid rgba(127,255,255,0.25);
	text-align: center;
	cursor: default;
	/* opacity: 0.6; */
}

.element:hover {
	box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
	border: 1px solid rgba(127,255,255,0.75);
	opacity: 1;
}

	.element .number {
		position: absolute;
		top: 10px;
		/* right: 20px; */
		left: 35px;

		font-size: 18px;
		font-weight: bold;
		color: rgba(127,255,255,0.75);
	}

	.element .symbol {
		position: absolute;
		width:100%;
		height: 100px;
		top: 40px;
		left: 0px;
		right: 0px;
		font-size: 30px;
		font-weight: bold;
		color: rgba(255,255,255,0.75);
		text-shadow: 0 0 10px rgba(0,255,255,0.95);
	}
	.element.symbol img:hover { 
		opacity: 1;
	}


	.element .details {
		position: absolute;
		bottom: 15px;
		left: 0px;
		right: 0px;
		font-size: 12px;
		color: rgba(127,255,255,0.75);
	}

button {
	color: rgba(127,255,255,0.75);
	background: transparent;
	outline: 1px solid rgba(127,255,255,0.75);
	border: 0px;
	padding: 5px 10px;
	cursor: pointer;
}
button:hover {
	background-color: rgba(0,255,255,0.5);
}
button:active {
	color: #000000;
	background-color: rgba(0,255,255,0.75);
}
.people .btn{
	width:56px;
	height:56px;
	cursor: pointer;
	display: inline-block;
}
.people .btn1{ 
	background-image: url(../image/02.png)
}
.people .btn1:hover{ 
	background-image: url(../image/3.png)
}
.people .btn2{ 
	background-image: url(../image/03.png)
}
.people .btn2:hover{ 
	background-image: url(../image/3.png)
}
.people .btn3{ 
	background-image: url(../image/01.png)
}
.people .btn3:hover{ 
	background-image: url(../image/1.png)
}


/* 底部投影光 */
.light {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
	z-index: 1;
	display: none;
}
/* 轮播图首页 */
.swiper-box {
    width: 80vw;
    height: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.topic {
    width: 130px;
    height: 60px;
    text-align: right;
    position: absolute;
    left: -50px;
    bottom: 0px;
    z-index: 11;
}
.topic-title {
    font-size: 20px;
    width: 100%;
    font-weight:bold;
    color:#fff;
    line-height:30px;
}
.author {
    font-size:12px;
    width: 100%;
    font-weight:400;
    color:#fff;
    line-height:30px;
}
  .swiper-container {
      width: 100%;
      height: 100%;
  }

  .swiper-slide {
      font-size: 18px;
      padding: 0px 100px;  
  }
  .person-page {
      width: 100%;
      height: 100%;
      /* background: url(../image/ren2.jpg) no-repeat; */
      background-size: 100% 100%;
      padding: 20px 50px;
      border: 1px solid #484b51;
      position: relative;
  }
  .content-page{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 20px 50px;
	background:linear-gradient(180deg, #050d1f 0%, #1b2132 88%);
	color: #fff;
    overflow-y: scroll;
  }
  .left-border {
    width: 71px;
    position: absolute;
    left: -71px;
    top: 0;
  }
  .right-border {
    width: 71px;
    position: absolute;
    right: -71px;
    top: 0;
  }
  .info-box {
      position: absolute;
      left: 50px;
	  bottom: 150px;
	  text-align: left;
  }
  .person-name2 {
      margin-bottom: 20px;
  }
  .person-text {
      width:723px;
      font-size:32px;
      font-weight:bold;
      color: #fff;
	  line-height:41px;
	  
  }
  /*
  .article-box {
      width: 100%;
      height: 100%;
      color: #fff;
      overflow-y: scroll;
    }
  .article-box::-webkit-scrollbar {
    display: none
  }

  .article-title {
      font-size:24px;
      font-weight:bold;
      line-height:41px;
      text-align: center;
  }
  .article-text {
      width: 100%;
      margin-top: 20px;
      text-align: center;
  }
  .article-text p {
    font-size:12px;
    font-weight:400;
    line-height:17px;
    text-align: left;
    text-indent: 2em;
    margin-bottom: 10px;
  }
  .article-text img {
      margin: 0 0 10px 0;
  }
  */
  .portrait {
      width: 116px;
      height: 116px;
      border-radius: 60px;
      overflow: hidden;
      position: absolute;
      top: -58px;
      left: 20px;
      z-index: 12;
  }
  .portrait img {
    width: 100%;
  }
  .publish {
      width: 80px;
      height: 80px;
      border-radius: 40px;
      background:rgba(1, 85, 251, 0.8);
      position: absolute;
      right: 20px;
      bottom: 80px;
      z-index: 12;
      text-align: center;
      cursor: pointer;
  }
  .publish-img {
      width: 34px;
      height: 34px;
      margin-top: 16px;
  }
  .publish-text {
    font-size:12px;
    color:#fff;
  }



  /*books*/
  ul.baraja-container {
	width: 200px;
	height: 310px;
	margin: 0 auto 30px;
	position: relative;
	padding: 0;
	list-style-type: none;
}

ul.baraja-container li {
	width: 100%;
	height: 100%;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	background: #fff;
	pointer-events: auto;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

.no-js ul.baraja-container {
	width: auto;
	height: auto;
	text-align: center;
}

.no-js ul.baraja-container li {
	/* position: relative; */
	display: inline-block;
	width: 100%;
	height: 700px; 
	 margin:10px;
}
/*滚动条样式*/
::-webkit-scrollbar {
	width: 4px;
	/* height: 100%; */
  }

  /* 二维码页 */
  .ewm-box {
	width: 100%;
}
.iphone-box {
	width: 400px;
	height: 700px;
	background: url(../image/iphone.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 51%;
	bottom: 29px;
	margin-left: -200px;
}
.ewm {
	width: 206px;
	height: 310px;
	position: absolute;
	left: 52%;
	bottom: 120px;
	margin-left: 228px;
}
.fenxiang {
	width: 100%;
	height: 60px;
	background: url(../image/qiubg.png) no-repeat;
	background-size: 100% 100%;
	line-height: 60px;
	text-align: center;
	font-size: 34px;
	color: #FFB710;
	font-weight: bold;
}
.m-box {
	width: 100%;
	height: 250px;
	background: url(../image/ewmbg.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
	padding: 8px 8px 0 8px;
}
.ewm-img {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  margin-left: -100px;
}
.ewm-text {
	height: 50px;
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
	font-size: 18px;
	line-height: 50px;
}
#articleiframe{
	position: relative;
	width:85%;
    top: 50px;
    left: 30px;
    height: 600px;
	border: none; 
}