html, body {
	height: 100%;
}

 body {
	background-color: #000000;
	margin: 0;
	font-family: Helvetica, sans-serif;;
	overflow: hidden; 
} 

a {
	color: #ffffff;
}
  

.main {
    width: 100vw;
    height: 100vh;
    background: url(../image/starbg.jpg) no-repeat;
    background-size: 100% 100%;
    padding-top: 30px;
}
/* 标题 */
.topbar {
    width: 100%;
    height: 45px;
    line-height: 45px;
	position: relative;
	cursor: pointer;
}
.logo {
    width: 138px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -185px;

}
.title {
    font-size:30px;
    color:#fff;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -30px;
}
/* 内容区 */
.content {
    width: 100%;
    height: 77vh;
    margin-top: 5vh;
}
.left,
.right{
    width: 50%;
    height: 100%;
}
/* 左边 */
.left {
    padding-left: 10%;
}
.go-btn { 
	cursor: pointer;
	display: none;
	opacity: 0.6;
}
.go-btn:hover {  
	opacity: 1;
}
.name {
    font-size:68px;
    font-weight:bold;
    color:#fff;
}
.ename {
    font-size:48px;
    font-weight:bold;
    color:rgba(215, 215, 215, 0.1);
}
.ren {
    width: 100%;
    margin-top: 20px;
}
/* 右边 */
.right{
    padding-right: 10%;
    overflow: hidden;
    position: relative;
}

.num-box {
    height: 25%;
    width: 100%;
    margin-top: 9%;
}
.num-list {
    width: 100%;
    height: 100%;
}
.num-list .item {
    width: 33.3%;
    height: 100%;
    float: left;
    text-align: center;
}
.source {
    width: 100%;
    font-size:24px;
    font-weight:bold;
    color:#fff;
}

@keyframes rotation{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.loading-circle{
    position: absolute;
    left: 42px;
    top: 0;
    box-sizing: border-box;
    width: 172px;
    height: 172px; 
    background-image: url('../image/loadingbg.png'); 

     
}
.loading-circle-1{
    animation: rotation 0.8s linear infinite;
}
.loading-circle-2{
    animation: rotation 1.4s linear infinite;
}
.loading-circle-3{
    animation: rotation 1s linear infinite;
}
.container-circle{
    position: absolute;
    left: 42px;
    top: 0;
    box-sizing: border-box;
    width: 172px;
    height: 172px;
    border-radius: 86px;
    border: 2px solid;
	/* opacity: 0.3; */
	border-color: rgba(215,215,215,0.3);
 
}

.container-circle .number {
	position: relative;
   /*  left: 42px; */
    top: 56px;
	font-size: 36px;
	font-weight: bold;
	display: block;
	color: #fff;
	opacity: 1;
}



#tagsList {

	position: relative;

	margin: 204px auto 0;

}
.label-box {
    height: 35%;
    width: 100%;  
    padding-left: 3%;
}
#tagsList a {

	position: absolute;

	top: 0px;

	left: 0px;

	font-family: Microsoft YaHei;

	color: #fff;

	font-weight: bold;

	text-decoration: none;

	padding: 3px 6px;

}

#tagsList a:hover {
	box-shadow: 0px 0px 12px rgba(240, 252, 252, 0.5);
	letter-spacing: 2px;

}

 
.event, .books , .pbLoading, .result{
	display: none;
}
#menu {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: right;
	font-family: verdana,Tahoma,Arial,Hei,"Microsoft Yahei",SimHei;
}

.element {
	width: 120px;
	height: 160px;
	/* box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
	border: 1px solid rgba(127,255,255,0.25); */
	box-shadow: 0px 0px 12px rgba(0,132,255,0.5);
	border: 1px solid rgba(127,202,255,0.25); 
	text-align: center;
	cursor: default;
	/* opacity: 0.6; */
}

.element:hover {
	box-shadow: 0px 0px 12px rgba(0,132,255,0.75);
	border: 1px solid rgba(127,202,255,0.75);
	/* opacity: 1; */
}

	.element .number {
		position: absolute;
		top: 10px;
		/* right: 20px; */
		left: 35px;

		font-size: 18px;
		font-weight: bold;
		color: rgba(255,255,255,0.75);
	}

	.element .symbol {
		position: absolute;
		width:100%;
		height: 100px;
		top: 40px;
		left: 0px;
		right: 0px;
		font-size: 30px;
		font-weight: bold;
		color: rgba(255,255,255,0.75);
		text-shadow: 0 0 10px rgba(0,132,255,0.95);
	}
	.element.symbol img:hover { 
		opacity: 1;
	}


	.element .details {
		position: absolute;
		bottom: 15px;
		left: 0px;
		right: 0px;
		font-size: 12px;
		color: rgba(255,255,255,0.75);
	}

button {
	color: rgba(127,255,255,0.75);
	background: transparent;
	outline: 1px solid rgba(127,255,255,0.75);
	border: 0px;
	padding: 5px 10px;
	cursor: pointer;
}
button:hover {
	background-color: rgba(0,255,255,0.5);
}
button:active {
	color: #000000;
	background-color: rgba(0,255,255,0.75);
}
.people .btn{
	width:56px;
	height:56px;
	cursor: pointer;
	display: inline-block;
}
.people .btn1{ 
	background-image: url(../image/02.png)
}
.people .btn1:hover{ 
	background-image: url(../image/3.png)
}
.people .btn2{ 
	background-image: url(../image/03.png)
}
.people .btn2:hover{ 
	background-image: url(../image/3.png)
}
.people .btn3{ 
	background-image: url(../image/01.png)
}
.people .btn3:hover{ 
	background-image: url(../image/1.png)
}


/* 底部投影光 */
.light {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
	z-index: 1;
	display: none;
}
/* 轮播图首页 */
.swiper-box {
    width: 80vw;
    height: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.topic {
    width: 130px;
    height: 60px;
    text-align: right;
    position: absolute;
    left: -50px;
    bottom: 40px;
    z-index: 11;
}
.topic-title {
    font-size: 20px;
    width: 100%;
    font-weight:bold;
    color:#fff;
    line-height:30px;
}
.author {
    font-size:12px;
    width: 100%;
    font-weight:400;
    color:#fff;
    line-height:30px;
}
  .swiper-container {
      width: 100%;
      height: 100%;
  }

  .swiper-slide {
      font-size: 18px;
      padding: 0px 100px;  
  }
  .person-page {
      width: 100%;
      height: 100%;
      /* background: url(../image/ren2.jpg) no-repeat; */
      background-size: 100% 100%;
      padding: 20px 50px;
      border: 1px solid #484b51;
      position: relative;
  }
  .content-page{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 20px 50px;
	background:linear-gradient(180deg, #050d1f 0%, #1b2132 88%);
	color: #fff;
    overflow-y: scroll;
  }
  .left-border {
    width: 71px;
    position: absolute;
    left: -71px;
    top: 0;
  }
  .right-border {
    width: 71px;
    position: absolute;
    right: -71px;
    top: 0;
  }
  .info-box {
      position: absolute;
      left: 50px;
	  bottom: 80px;
	  text-align: left;
  }
  .person-name2 {
      margin-bottom: 20px;
  }
  .person-text {
      width:723px;
      font-size:32px;
      font-weight:bold;
      color: #fff;
	  line-height:41px;
	  
  }
  
  .article-box {
	  width: 100%;
	  /* margin-left: 20%; */
	  padding: 10px 200px;
      height: 100%;
      color: #fff;
      overflow-y: scroll;
    }
  .article-box::-webkit-scrollbar {
    display: none
  }

  .article-title {
      font-size:24px;
      font-weight:bold;
      line-height:41px;
      text-align: center;
  }
  .article-text {
      width: 100%;
      margin-top: 20px;
      text-align: center;
  }
  .article-text p {
    font-size:16px;
    font-weight:400;
    line-height:22px;
    text-align: left;
    text-indent: 2em;
    margin-bottom: 10px;
  }
  .portrait {
      width: 116px;
      height: 116px;
      border-radius: 60px;
      overflow: hidden;
      position: absolute;
      top: -58px;
      left: 20px;
      z-index: 12;
  }
  .portrait img {
    width: 100%;
  }
  .publish {
      width: 80px;
      height: 80px;
      border-radius: 40px;
      background:rgba(1, 85, 251, 0.8);
      position: fixed;
      right: 120px;
      bottom: 80px;
      z-index: 12;
      text-align: center;
	  cursor: pointer; 
  } 
  .publish-img {
      width: 34px;
      height: 34px;
      margin-top: 16px;
  }
  .publish-text {
    font-size:12px;
    color:#fff;
  }

.swiper-button-prev{
	opacity: 0.1;
	background-image: url(../image/prev.png) !important
}

.swiper-button-prev:hover{
	opacity: 0.5;
}
.swiper-button-next{
	opacity: 0.1;
	background-image: url(../image/next.png) !important

}
.swiper-button-next:hover{
	opacity: 0.5;
}

  /*books*/
  ul.baraja-container {
	width: 200px;
	height: 310px;
	margin: 0 auto 30px;
	position: relative;
	padding: 0;
	list-style-type: none;
}

ul.baraja-container li {
	width: 100%;
	height: 100%;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	background: #fff;
	pointer-events: auto;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

.no-js ul.baraja-container {
	width: auto;
	height: auto;
	text-align: center;
}

.no-js ul.baraja-container li {
	/* position: relative; */
	display: inline-block;
	width: 100%;
	height: 700px; 
	 margin:10px;
}
/*滚动条样式*/
::-webkit-scrollbar {
	width: 4px;
	/* height: 100%; */
  }

  /* 二维码页 */

  .ewm-box {
	width: 100%;
}
 
.ewm {
	width: 206px;
	height: 310px;
	position: absolute;
	left: 60%;
	bottom: 111px;
	margin-left: 228px;
	display:none;
}
 
.iphone-box {
	width: 1200px;
	height: 800px;
	background: url(../image/iphone2.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 50%;
	bottom: 60px;
	margin-left: -600px;
}
 

.fenxiang {
	width: 100%;
	height: 60px;
	background: url(../image/qiubg.png) no-repeat;
	background-size: 100% 100%;
	line-height: 60px;
	text-align: center;
	font-size: 34px;
	color: #FFB710;
	font-weight: bold;
}
.m-box {
	width: 100%;
	height: 250px;
	background: url(../image/ewmbg.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
	padding: 8px 8px 0 8px;
}
.ewm-img {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  margin-left: -100px;
}
.ewm-text {
	height: 50px;
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
	font-size: 18px;
	line-height: 50px;
}
#articleiframe{
	position: relative;
	width: 82%;
    top: 47px;
    left: 105px;
    height: 700px;
	border: none; 
}

 

/**********publish loading *************************/
/* Start the loader code, first, let's align it the center of screen */
.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-mos-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align:center;
/* disable selection and cursor changes */
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
}

/* Text align it the center of screen and connect the looped animation for 2 seconds */
.text{
	position: absolute;
	left: -1.3em;
	top: -1.7em;
	color:#fff;
	-webkit-animation: text 2s infinite;
	-moz-animation: text 2s infinite;
	-moz-animation: text 2s infinite;
	-ms-animation: text 2s infinite;
	-o-animation: text 2s infinite;
	animation: text 2s infinite;
}

/* Set for the first layer vertical position */
.vertical{
	position:absolute;
	top: -1.84em;
	left: -0.4em;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

/* Set for the second layer horizontal position */
.horizontal{
	position:absolute;
	top:0em;
	left:0em;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

/* The next two classes do mirror for animation */
.circlesup{
	position:absolute;
	top: -4.7em;
	right: 12.1em;
}

.circlesdwn{
	position:absolute;
	top:2.5em;
	right:-13.5em;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

/* Create a container for our circles, rotate it 45 degrees and set animation*/
.circle {
	position: absolute;
	width: 15em;
	height: 15em;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-animation: orbit 2s infinite;
	-moz-animation: orbit 2s infinite;
	-moz-animation: orbit 2s infinite;
	-ms-animation: orbit 2s infinite;
	-o-animation: orbit 2s infinite;
	animation: orbit 2s infinite;
	z-index:5;
} 

/* Style's of our circles */
.circle:after {
	content: '';
	position: absolute;
	width: 2em;
	height: 2em;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	/* background: #13A3A5;  Pick a color 1*/
	background: #2f71ff	; /* Pick a color 1*/

}

.circle:nth-child(2) {
	-webkit-animation-delay: 100ms; 
	-moz-animation-delay: 100ms; 
	-ms-animation-delay: 100ms; 
	-o-animation-delay: 100ms; 
	animation-delay: 100ms;
	z-index:4;
}

.circle:nth-child(2):after  {
/*	background: #56bebf;  Pick a color 2*/
	background: #2f71ff; /* Pick a color 2*/
	-webkit-transform: scale(0.8,0.8);
	-moz-transform: scale(0.8,0.8);
	-ms-transform: scale(0.8,0.8);
	-o-transform: scale(0.8,0.8);
	transform: scale(0.8,0.8);
}

.circle:nth-child(3) {
	-webkit-animation-delay: 225ms; 
	-moz-animation-delay: 225ms; 
	-ms-animation-delay: 225ms; 
	-o-animation-delay: 225ms; 
	animation-delay: 225ms; 
	z-index:3;
}

.circle:nth-child(3):after  {
/*	background: #ffa489;  Pick a color 3*/
	background: #ffb710	; /* Pick a color 3*/

	-webkit-transform: scale(0.6,0.6);
	-moz-transform: scale(0.6,0.6);
	-ms-transform: scale(0.6,0.6);
	-o-transform: scale(0.6,0.6);
	transform: scale(0.6,0.6);
}

.circle:nth-child(4) {
	-webkit-animation-delay: 350ms; 
	-moz-animation-delay: 350ms; 
	-ms-animation-delay: 350ms; 
	-o-animation-delay: 350ms; 
	animation-delay: 350ms; 
	z-index:2;
}

.circle:nth-child(4):after  {
/* 	background: #ff6d37; Pick a color 4*/
	background: #e44335;

	-webkit-transform: scale(0.4,0.4);
	-moz-transform: scale(0.4,0.4);
	-ms-transform: scale(0.4,0.4);
	-o-transform: scale(0.4,0.4);
	transform: scale(0.4,0.4);
}


.circle:nth-child(5) {
	-webkit-animation-delay: 475ms; 
	-moz-animation-delay: 475ms; 
	-ms-animation-delay: 475ms; 
	-o-animation-delay: 475ms; 
	animation-delay: 475ms; 
	z-index:1;
}

.circle:nth-child(5):after  {
 /*	background: #DB2F00; Pick a color 5*/
	background: #2dba52; /* Pick a color 5*/
	
	-webkit-transform: scale(0.2,0.2);
	-moz-transform: scale(0.2,0.2);
	-ms-transform: scale(0.2,0.2);
	-o-transform: scale(0.2,0.2);
	transform: scale(0.2,0.2);
}

/* Animation keys */
@-webkit-keyframes orbit {
	0%		{ -webkit-transform:rotate(45deg); } 

	5%		{ -webkit-transform:rotate(45deg);
			  -webkit-animation-timing-function: ease-out; } 

	70%		{ -webkit-transform:rotate(405deg); 
			  -webkit-animation-timing-function: ease-in; }

	100%	{ -webkit-transform:rotate(405deg); } 
}

@-moz-keyframes orbit {
	0%		{ -moz-transform:rotate(45deg); } 

	5%		{ -moz-transform:rotate(45deg);
			  -moz-animation-timing-function: ease-out; } 

	70%		{ -moz-transform:rotate(405deg); 
			  -moz-animation-timing-function: ease-in; }

	100%	{ -moz-transform:rotate(405deg); } 
}
@-ms-keyframes orbit {
	0%		{ -ms-transform:rotate(45deg); } 

	5%		{ -ms-transform:rotate(45deg);
			  -ms-animation-timing-function: ease-out; } 

	70%		{ -ms-transform:rotate(405deg); 
			  -ms-animation-timing-function: ease-in; }

	100%	{ -ms-transform:rotate(405deg); } 
}

@-o-keyframes orbit {
	0%		{ -o-transform:rotate(45deg); } 

	5%		{ -o-transform:rotate(45deg);
			  -o-animation-timing-function: ease-out; } 

	70%		{ -o-transform:rotate(405deg); 
			  -o-animation-timing-function: ease-in; }

	100%	{ -o-transform:rotate(405deg); } 
}

@keyframes orbit { 
	0%		{ transform:rotate(45deg); } 
	
	5%		{ transform:rotate(45deg);
			  animation-timing-function: ease-out; } 

	70% 	{ transform:rotate(405deg); 
			  animation-timing-function: ease-in; }

	100%	{ transform:rotate(405deg); } 
}


@-webkit-keyframes text {
	0%		{-webkit-transform:scale(0.2,0.2);
			 -webkit-animation-timing-function: ease-out; } 

	40%,60%{ -webkit-transform:scale(1,1); 
			  -webkit-animation-timing-function: ease-out;  }

	70%,100%{ -webkit-transform:scale(0.2,0.2);  } 
}

@-moz-keyframes text {
	0%		{-moz-transform:scale(0.2,0.2);
			 -moz-animation-timing-function: ease-out; } 

	50%		{ -moz-transform:scale(1,1); 
			  -moz-animation-timing-function: ease-out;  }

	60%		{ -moz-transform:scale(1,1); 
			-moz-animation-timing-function: ease-out;  }

	100%	{ -moz-transform:scale(0.2,0.2);  } 	
}

@-mos-keyframes text {
	0%		{-mos-transform:scale(0.2,0.2);
			 -mos-animation-timing-function: ease-out; } 

	50%		{ -mos-transform:scale(1,1); 
			  -mos-animation-timing-function: ease-out;  }

	60%		{ -mos-transform:scale(1,1); 
			  -mos-animation-timing-function: ease-out;  }

	100%	{ -mos-transform:scale(0.2,0.2);  } 
}

@-o-keyframes text {
	0%		{ -o-transform:scale(0.2,0.2);
			  -o-animation-timing-function: ease-out; } 

	50%		{ -o-transform:scale(1,1); 
			  -o-animation-timing-function: ease-out;  }

	60%		{ -o-transform:scale(1,1); 
			  -o-animation-timing-function: ease-out;  }

	100%	{ -o-transform:scale(0.2,0.2);  } 
}

@keyframes text {
	0%		{ transform:scale(0.2,0.2);
			  animation-timing-function: ease-out; } 

	50%		{ transform:scale(1,1); 
			  animation-timing-function: ease-out;  }

	60%		{ transform:scale(1,1); 
			  animation-timing-function: ease-out;  }

	100%	{ transform:scale(0.2,0.2);  } 
}